<div>
  <h3 class="text-left text-primary" style="margin-left:240px;">Sign in</h3>
  <br />
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control w-50" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Haha nice joke!</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control w-50" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <br />
      <!--<h5 class="text-primary">Choose the authentication type:</h5>
      <input type="radio" class="form-check-input" name="radiosGroup" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Basic authentication</label>
      <br />
      <input type="radio" class="form-check-input" name="radiosGroup" id="exampleCheck1">

      <label class="form-check-label" for="exampleCheck1">OpenId</label>
      <br />
      <input type="radio" class="form-check-input" name="radiosGroup" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">OAuth2</label>
      <br />
      <input type="radio" class="form-check-input" name="radiosGroup" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>-->

    </div>
    <!--<br />
    <br />-->
    <div class=" text-left" style="margin-left:250px">
      <button type="submit" class="btn btn-primary text-center">Submit</button>
    </div>
  </form>
</div>
