<h1>Hello, world!</h1>
<h2>Medi is playing around he he hee</h2>
<div style="height:800px; background-color:aquamarine">
  <div class="container">
    <div class="row" style="background-color:burlywood; height:300px;">
      <div class="col-sm" style="background-color:darkcyan">
        <p>hey I am first</p>
      </div>
      <div class="col-sm" >
        <h5>I'm second</h5>
      </div>
      <div class="col-sm">

      </div>
    </div>
    <div class="row" style="background-color:coral; height:4em">
      <div class="col-sm">
        <p>We're below</p>
      </div>
      <div class="col-sm">
        <span>me too</span>
      </div>
    </div>

  </div>

</div>
<!--<p>Welcome to your new single-page application, built with:</p>-->
<!--<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>-->
